<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask MongoDB CRUD</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to Flask MongoDB CRUD Application</h1>
        <div class="dropdown-container">
            <div class="dropdown">
                <button class="dropbtn">Actions</button>
                <div class="dropdown-content">
                    <a href="/create">Create</a>
                    <div class="dropdown-divider"></div>
                    <a href="/read">Read</a>
                    <div class="dropdown-divider"></div>
                    <a href="/update">Update</a>
                    <div class="dropdown-content">
                        <a href="/update">Update Data</a>
                    </div>
                    <div class="dropdown-divider"></div>
                    <a href="/delete">Delete</a>
                    <div class="dropdown-content">
                        <a href="/delete">Delete Data</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
